@model Task_Markova.Models.Person
@{
    ViewBag.Title = "task";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div id="main">
    <div id="forForm">
        <h2 style="padding:10px">Add person</h2>

        @Html.Partial("_registrationPersonForm", Model)

        @Html.Partial("_textareaForm")
  
    </div>
    <script src="~/Scripts/task.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</div>
